<div class="dashboard-container">

  <div class="form-card">

    <h1>
      Agregar Perro
    </h1>

    <form (ngSubmit)="createDog()">
      <div class="input-group">
        <label>
          Nombre
        </label>
        <input type="text" name="name" [(ngModel)]="dog.name" />
      </div>
      <div class="input-group">
        <label>
          Edad
        </label>
        <input type="number" name="age" [(ngModel)]="dog.age" />
      </div>
      <div class="input-group">
        <label>
          Race ID
        </label>
        <select name="raceId" [(ngModel)]="dog.raceId">
          @for (race of races; track race) {
          <option [value]="race.id">
            {{ race.id }}
          </option>
          }
        </select>
      </div>
      <button type="submit">Guardar</button>
    </form>
  </div>
</div>
